body {
    position: relative;
}

.title {
    text-align: center;
}
.input, .inputAppend, .mTDAppend, .mTHAppend {
    display: flex;
    max-width: 1100px;
    margin: auto;
    
}
.inputCSS, .item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1rem;
}

button {
    display: block;
    margin: auto;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    
    
}