* {
    font-family: 'Roboto',
        sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    margin-bottom: 8rem;
}

.title,
h2 {
    text-align: center;
    margin: 1rem;
}

.input,
.inputAppend,
.mTDAppend,
.mTHAppend {
    display: flex;
    max-width: 1100px;
    margin: auto;
    /* width: calc(100% - 2rem) */
}

.inputCSS,
.item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1rem;
    flex-shrink: 1;
    min-width: 0;
}

button {
    display: block;
    width: calc(100% - 2rem);
    max-width: calc(1100px - 2rem);
    margin: 1rem auto;
    font-size: 20px;
    font-weight: 700;
    padding: 0.5rem 0;
    color: white;
    background-color: #737373;
    border-radius: 0.5rem;
    margin-bottom: 4rem;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}



label {
    font-size: 20px;
    font-weight: 700;

    padding-left: 0.5rem;
}

input[type="text"],
textarea {
    background-color: #d9d9d9;
    font-size: 20px;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.iHeader {
    background-color: #d9d9d9;
    color: #737373;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0;
}

img {
    height: 1.5rem;
    width: auto;
}

.tHeader {
    background-color: #8f1204;
    color: white;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0;
}


.thHeader {
    background-color: #008037;
    color: white;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0;
}

container {
    width: calc(100% - 2rem);
    max-width: calc(1100px - 2rem);
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    position: relative;
}

.pAbsolute {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0.5rem);
    font-weight: 700;
    color: #d9d9d9;
}

footer {
    background-color: #737373;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7rem;
}

.seeRates,
.linkedIn {
    background-color: #d9d9d9;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.linkedIn {
    display: flex;
}

.fItem {
    align-items: center;
}

.contact {
    margin: 0;
    font-weight: 700;
    padding-right: 0.5rem;
}

.mI,
.yI {
    text-align: center;
    color: #737373;
    margin: 0.5rem 0 1.5rem;
}

.mTD,
.yTD {
    text-align: center;
    color: #8f1204;
    margin: 0.5rem 0 1.5rem;
}

.mTH,
.yTH {
    text-align: center;
    color: #008037;
    margin: 0.5rem 0 1.5rem;
}

a {
    text-decoration: none;
    color: black;
}

/* .rates {
    position: relative;
} */

table {
    width: calc(100% - 2rem);
    max-width: calc(1100px - 2rem);
    margin: auto;
    margin-top: 1rem;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d9d9d9;
}

.rateHead {
    margin-top: 8rem;
}

@media only screen and (max-width: 560px) {
    .pAbsolute {
        display: block;
        transform: translate(-50%, 3.5rem);
        width: 100%;
        text-align: center;
    }

    container {
        align-items: flex-start;
        padding-top: 1rem;
    }

    button {
        margin-bottom: 2rem;
    }


    .input,
    .inputAppend,
    .mTDAppend,
    .mTHAppend {
        font-size: 15px;
    }
    label,
    input[type="text"],
    textarea {
        font-size: 18px;
    }
    .title {
        font-size: 28px;
    }

}